{% extends "main.html" %}

{% block tabs %}
{{ super() }}

<div class="md-container tx-hero">
  <div class="md-grid md-typeset">
    <div class="md-main__inner">
      <div>
        <h1>Run Your Infrastructure Like<br> a Michelin-Starred Kitchen</h1>
        <p>Managing cloud infrastructure is a complex task.</p>
        <p>Just as a world-class kitchen relies on precise techniques and high-quality ingredients, <span
            class="em">InfraKitchen</span> empowers you to manage your infrastructure with the same level of
          expertise and care.
        </p>
        <p>We're open sourcing <span class="em">InfraKitchen</span> in autumn 2025. Join our community for updates!</p>
        <a href="https://github.com/electrolux-oss/infrakitchen" target="_blank" class="md-button md-button--primary"
          style="margin-right: 1rem; display: inline-flex; align-items: center;">
          <span style="display:inline-flex; align-items:center; margin-right:0.5em;">
            {% include ".icons/material/github.svg" %}
          </span>
          Follow us on GitHub
        </a>
        <a href="https://www.linkedin.com/company/infrakitchen" target="_blank" class="md-button md-button--primary"
          style="display: inline-flex; align-items: center;">
          <span style="display:inline-flex; align-items:center; margin-right:0.5em;">
            {% include ".icons/fontawesome/brands/linkedin.svg" %}
          </span>
          Follow us on LinkedIn
        </a>
      </div>
    </div>
  </div>
</div>

<div class="md-container scroll-section" style="margin: 20px 0;">
  <div class="scroll-list scroll-center">
    <span class="scroll-icon" title="AWS">{% include ".icons/material/aws.svg" %}</span>
    <span class="scroll-icon" title="Azure">{% include ".icons/material/microsoft.svg" %}</span>
    <span class="scroll-icon" title="Google Cloud">{% include ".icons/simple/googlecloud.svg" %}</span>
    <span class="scroll-icon" title="GitHub">{% include ".icons/simple/github.svg" %}</span>
    <span class="scroll-icon" title="Terraform">{% include ".icons/simple/terraform.svg" %}</span>
    <span class="scroll-icon" title="OpenTofu">{% include ".icons/simple/opentofu.svg" %}</span>
    <span class="scroll-icon" title="Kubernetes">{% include ".icons/simple/kubernetes.svg" %}</span>
    <span class="scroll-icon" title="Backstage">{% include ".icons/simple/backstage.svg" %}</span>
  </div>
</div>

<div class="md-container secondary-section">
  <div class="g">
    <div class="section">
      <div class="component-wrapper">
        <div class="first-column">
          <h3>Reusable infrastructure templates</h3>
          <p>
            <span class="em">Platform Team</span> defines the infrastructure in reusable <span
              class="highlight">templates</span>.
            <span class="em">Developers</span> use standardized templates to create infrastructure <span
              class="highlight">blueprints</span>.
          </p>
          <p>
            Developers are empowered to focus on building features, while the platform team ensures the infrastructure
            remains secure, reliable, and compliant.
          </p>
        </div>
        <div class="second-column">
          <div class="image-wrapper" style="border: 1px solid #D7FFCF; background: #505050;">
            <div class="diagram-wrapper"
              style="width:100%; display:flex; justify-content:center; align-items:center; padding:24px 0;">
              <div class="blueprint-box">
                <div class="blueprint-title">Blueprint</div>
                <div class="templates-row">
                  <div class="template-box">Template 1</div>
                  <div class="template-box">Template 2</div>
                  <div class="template-box">Template 3</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="component-wrapper" style="display: block;">
        <h4></h4>
        <div class="responsive-grid">
          <div class="card">
            <div class="logo">
              <span class="twemoji">
                {% include ".icons/material/file-code-outline.svg" %}
              </span>
            </div>
            <div class="card-content">
              <h5>Templates</h5>
              <p>
                Define your infrastructure as code in reusable templates.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="logo">
              <span class="twemoji">
                {% include ".icons/simple/blueprint.svg" %}
              </span>
            </div>
            <div class="card-content">
              <h5>Blueprints</h5>
              <p>
                Use templates to create infrastructure blueprints.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="logo">
              <span class="twemoji">
                {% include ".icons/material/puzzle.svg" %}
              </span>
            </div>
            <div class="card-content">
              <h5>Customize</h5>
              <p>
                Define custom templates to extend the platform.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section follow">
      <div class="component-wrapper">
        <div class="first-column">
          <div class="image-wrapper">
            <img src="{{config.site_url}}assets/images/demo-rds.png" alt="" draggable="false">
          </div>
        </div>
        <div class="second-column">
          <h3>Continuous delivery</h3>
          <p>
            From blueprints, <span class="em">InfraKitchen</span> generates infrastructure code and opens <span
              class="highlight">pull requests</span>.
          </p>
          <p>
            After approval, deploy changes with <span class="em">InfraKitchen</span> or stick with your current
            automation tools — whatever works best for you.
          </p>
        </div>
      </div>
      <div class="component-wrapper" style="display: block;">
        <h4></h4>
        <div class="responsive-grid">
          <div class="card">
            <div class="logo">
              <span class="twemoji">
                {% include ".icons/simple/git.svg" %}
              </span>
            </div>
            <div class="card-content">
              <h5>Pull requests</h5>
              <p>
                Infrastructure changes are proposed as pull requests for review.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="logo">
              <span class="twemoji">
                {% include ".icons/material/cloud-outline.svg" %}
              </span>
            </div>
            <div class="card-content">
              <h5>Multi-cloud</h5>
              <p>
                Deploy to multiple cloud providers, including AWS, Azure, and Google Cloud.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="logo">
              <span class="twemoji">
                {% include ".icons/octicons/versions-16.svg" %}
              </span>
            </div>
            <div class="card-content">
              <h5>Versioning</h5>
              </h5>
              <p>
                Infrastructure changes are versioned and can be rolled back.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section follow">
      <div class="component-wrapper">
        <div class="first-column">
          <h3>Operations</h3>
          <p>
            <span class="em">InfraKitchen</span> provides <span class="highlight">auditing</span> and operational tools
            to help you
            manage your infrastructure.
          </p>
          <p>
            <span class="em">InfraKitchen</span> also supports integration with your AI agent via the <span
              class="highlight">MCP
              Server</span>.
          </p>
        </div>
        <div class="second-column">
          <div class="image-wrapper">
            <img src="{{config.site_url}}assets/images/demo-ai.png" alt="" draggable="false">
          </div>
        </div>
      </div>
      <div class="component-wrapper" style="display: block;">
        <h4></h4>
        <div class="responsive-grid">
          <div class="card">
            <div class="logo">
              <span class="twemoji">
                {% include ".icons/material/robot-outline.svg" %}
              </span>
            </div>
            <div class="card-content">
              <h5>AI & MCP</h5>
              <p>
                AI-assisted infrastructure management, and MCP Server for your own Agent.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="logo">
              <span class="twemoji">
                {% include ".icons/simple/kubernetes.svg" %}
              </span>
            </div>
            <div class="card-content">
              <h5>Kubernetes workload</h5>
              <p>
                Kubernetes integration for managing containerized applications.
              </p>
            </div>
          </div>

          <div class="card">
            <div class="logo">
              <span class="twemoji">
                {% include ".icons/material/magnify-expand.svg" %}
              </span>
            </div>
            <div class="card-content">
              <h5>Auditing</h5>
              <p>
                View logs to understand what changes were made.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}